.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 469px;
  height: 200px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: "Comic Neue";
  margin: 30px auto 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 145px;
  }
}